@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: "Cairo";
}
.embla {
    overflow: hidden;
  }
  .embla__container {
    display: flex;
  }
  .embla__slide {
    flex: 0 0 100%;
    min-width: 0;
    gap: 5;
  }
  .zoomed-in:hover {
    transform: scale(1.1); /* Increase the scale as needed */
    transition: transform 0.3s ease-in-out;
  }